@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: white;
}

body {
  margin: 0;
  
  font-family: 'Orbitron', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111117;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
